.maindiv{
    padding: 2em ;
    /* background-color: red; */
    /* min-height: 100vh; */
    background-color: #ECA089;
}
.search-bar{
    max-width: 600px;
    /* how big should searchbar be?
        may need to do some break points
    */
    color: #ECC62A;
}
.input-group{
    
}

.-select{background-color: #CE5E82;}

.form-control{background-color: #292651;}

.maindiv{margin-left: 10%;}
body{
    /* background-color: #292651; */
}