<div class="row bandcard">
    <div class=col-3>
        <!-- display image -->
        <!-- <span class="bandcard-span">{{band.name}}</span> -->
        <img src="" alt="no image available">
    </div>
    <div class=col-3>
        <!-- display name -->
        <span class="bandcard-span">Artist: {{band.name}}</span>
    </div>
    <div class=col-3>
        <!-- display album... -->
        <span class="bandcard-span">Album: {{band.album}}</span>
    </div>
    <div class=col-3>
        <!-- display genre -->
        <span class="bandcard-span">{{band.genre}}</span>
    </div>

<!-- maybe display span only if info exists?... extra effort! -->
</div>
