<div class="container">
  <form action="">
    <div class="row form-row">
      <label for="inputusername">Username</label>
      <input type="text" class="form-control standalone" id="model-username" name="username1"
        [(ngModel)]='user.username' placeholder="name">
    </div>
    <div class="row form-row">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control standalone" id="inputPassword4" name="password"
        [(ngModel)]='user.password' placeholder="Password">
    </div>
    <div class="row form-row">
      <label for="Fname">First Name</label>
      <input type="text" class="form-control" id="inputfname" name="firstname" [(ngModel)]='user.firstName'
        placeholder="First Name">
    </div>
    <div class="row form-row">
      <label for="Lname">Last Name</label>
      <input type="text" class="form-control" id="inputlname" name="lastname" [(ngModel)]='user.lastName'
        placeholder="Last Name">
    </div>
    <div class="row form-row">
      <label for="inputCity">Email</label>
      <input type="email" class="form-control" id="inputEmail" name="email" [(ngModel)]='user.email'
        placeholder="Email">
    </div>
    <button type="submit" (click)="addNewUser()" class="btn btn-primary">Sign up</button>
    <div>
      <a routerLink="/login" class="card-link">Already Have an Account? Sign In</a>
    </div>
  </form>
</div>