<div class="background-div container">
  <!-- put ackground here -->
  <div class="header row">
    <div class="col-12">
      <h1>Welcome to your Schlarb<span *ngIf="user">, {{user.username}}</span></h1>
      <!-- center this!? -->
    </div>
    <div class="row main-div">
      <!-- <div class="col-6 section">
        <h2>Venues</h2>
        
      </div> -->
      <div class="col-6 section">
        <h2>Bands</h2>
        <button *ngFor="let artist of user.artistList"  (click)="displayArtist(artist)">{{artist.name}}</button>
        <!-- could be a component... may need a separate update button...-->
        <br />
      </div>
      <!--  -->
      <div class="col-6 section" *ngIf="selectedArtist">
        <app-bandcard [band]="selectedArtist"></app-bandcard>
      </div>

    </div>

  </div>


</div>