<div class="row bandcard">
    <div class=col-3>
        <!-- display image -->
        <!-- <span class="bandcard-span">{{band.name}}</span> -->
        <!-- <img src="band.url" alt="no image available"> -->
        <!-- {{ around the src above!}} -->
    </div>
    <div class=col-3>
        display name
        <span class="bandcard-span">Artist: {{band.name}}</span>
    </div>
    <div class=col-3>
        <!-- display album... -->
        <!-- <span class="bandcard-span">Album: {{band.album}}</span> -->
    </div>
    <div class=col-3>
        <!-- display genre -->
        <!-- <span class="bandcard-span">{{band.upcoming_event_count}}</span> -->
    </div>

<!-- maybe display span only if info exists?... extra effort! -->
</div>
