<div class="container">

  <div class="card">
    <div class="card-header">
      <h1 class="title">{{ title }}</h1>
    </div>

    <div class="card-body">
      <!-- <h5 class="card-title">Sub-title</h5> -->
      <p class="card-text">{{ appDescription }}</p>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col">
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">User Name</span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
    
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        
        <div>
          <a href="/profile" >
            <button type="button" class="btn btn-primary" (click)="login()">
              Sign In
            </button>
          </a>
          <!-- <a href="/profile">Profile</a> -->
        </div>
    
        <div>
          <a href="#" class="card-link">New user?</a>
        </div>

      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav justify-content-center">
    <li><a routerLink="/apibandlist" routerLinkActive="active">Search Component</a></li>
  </ul>
</div>

<!-- <nav>
  <ul>
    <li><a routerLink="/frontloginpage" routerLinkActive="active">login Component</a></li>
    <li><a routerLink="/user-band-list" routerLinkActive="active">band-list Component</a></li>
    <li><a routerLink="/search" routerLinkActive="active">search Component</a></li>
    
  </ul>
</nav> -->