<div class="container background-div">

  <div class="card">
    <div class="card-header">
      <h1 class="title">{{ title }}</h1>
    </div>

    <div class="card-body">
      <!-- <h5 class="card-title">Sub-title</h5> -->
      <h5 class="card-text">{{ appDescription }}</h5>
    </div>

    <div class="row">
      <div class="col buffer"></div>
      <!-- above div is acting as margin -->
      <div class="col">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">User Name</span>
          </div>
          <input [(ngModel)]="username" type="text" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default" />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
          </div>
          <input [(ngModel)]="password" type="password" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default" />
        </div>

        <div>
          <!-- <a href="/profile" > -->

          <button type="button" class="btn btn-dark" style="background-color: #292651;" (click)="login()">

            Sign In
          </button>
          <!-- </a> -->
          <!-- <a href="/profile">Profile</a> -->
        </div>

        <div>
          <a routerLink="/newuserpage" class="card-link">New user?</a>
        </div>

      </div>

      <div class="col buffer"></div>
      

      <!-- I dont think above div does anything... I think ti was supposed to be a right margin-->

    </div>

    <!-- <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" /> -->

  </div>

  <div class="bottom-buffer">
    <!-- this is an empty div - used as buffer -->
  </div>


</div>

