.title{
    text-align: center;
}
.bottom-buffer{
    padding-bottom: 35px;
    /* provides space below bottom of component */
}
/* .input-group{
    width:40%;
    margin-left: 25%;
}
.btn{
    width:40%;
    margin-left: 25%;
}
.card-link{
    margin-left: 42%;
}
.signup{
    text-align: center;
}
*/